---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Mensaje from '../components/Mensaje.astro';
import Navbar from '../components/Navbar.astro';
import Promo from '../components/Promo.astro';
---

<Layout title="Parceritos Baby">
	<main>
		<div>

			<Promo/>
			<Navbar />
		</div>
	</main>
</Layout>

<style>
	h1 {
		color: red;
	}
</style>
