---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Mensaje from '../components/Mensaje.astro';
import Navbar from '../components/Navbar.astro';
import Promo from '../components/Promo.astro';
import ImageCard from '../components/ImageCard.astro';
---

<Layout title="Parceritos Baby">
	<main>
		<div>
			<Navbar />
		</div>
		<ImageCard imagePc='https://ggbralugqoodmaklkses.supabase.co/storage/v1/object/sign/public%20images/parenthood_banner_L_alt.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJwdWJsaWMgaW1hZ2VzL3BhcmVudGhvb2RfYmFubmVyX0xfYWx0LnBuZyIsImlhdCI6MTcxMDI3NTc4MSwiZXhwIjoyMzQwOTk1NzgxfQ.zDj5o4k5Eycgb-AFX48THzyY9wCg50HGaG_sq6QamSY&t=2024-03-12T20%3A36%3A21.200Z' 
		imageSmartPhone='https://ggbralugqoodmaklkses.supabase.co/storage/v1/object/sign/public%20images/parenthood_banner_mobile.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJwdWJsaWMgaW1hZ2VzL3BhcmVudGhvb2RfYmFubmVyX21vYmlsZS5wbmciLCJpYXQiOjE3MTAyNzU5NzEsImV4cCI6MjM0MDk5NTk3MX0.0oafgvQ7euTdkCJvX-FmL-YkNM3LRReX_ym-mnXJ2MM&t=2024-03-12T20%3A39%3A31.393Z' 
		tittle='Le acompañamos en cada paso de su bebé'
		subtitle='Productos para bebés: desde recién nacidos a niños pequeños'/>
	</main>
</Layout>

<style>
	h1 {
		color: red;
	}
</style>
