---
export interface Props {}
const {} = Astro.props;
---

<div class="text-black">
  <nav
    class="flex items-center justify-between flex-wrap p-8 fixed w-full z-10 top-0 bg-white"
  >
    <div class="flex -ml-5">
      <div class="lg:ml-96 div-flex">
        <svg class="-mt-5"
          version="1.0"
          xmlns="http://www.w3.org/2000/svg"
          width="55.000000pt"
          height="55.000000pt"
          viewBox="0 0 251.000000 230.000000"
          preserveAspectRatio="xMidYMid meet"
        >
          <g
            transform="translate(0.000000,230.000000) scale(0.100000,-0.100000)"
            fill="#e56399"
            stroke="none"
          >
            <path
              d="M1270 2266 c-126 -28 -202 -60 -312 -133 -70 -46 -85 -73 -50 -92 14
-8 29 -3 63 20 228 154 502 195 763 112 76 -24 80 -24 93 -7 7 10 13 21 13 26
0 17 -52 40 -145 63 -82 21 -119 25 -234 24 -75 -1 -161 -7 -191 -13z"
            ></path>
            <path
              d="M1766 1970 c-16 -5 -44 -23 -61 -40 l-32 -31 -78 10 c-197 28 -435
-54 -563 -193 l-41 -44 -43 21 c-136 68 -322 -22 -358 -174 -37 -154 48 -294
197 -324 l57 -11 13 -83 c19 -124 74 -233 160 -319 37 -38 81 -78 96 -90 l29
-21 -53 -61 c-30 -33 -56 -60 -60 -60 -16 0 -114 98 -153 154 -59 83 -99 165
-131 269 -25 84 -28 88 -53 85 -37 -4 -40 -40 -11 -126 50 -152 158 -320 258
-400 22 -18 41 -39 41 -45 0 -16 -72 -87 -122 -120 -34 -23 -45 -24 -120 -20
-73 4 -88 2 -128 -19 -101 -52 -112 -184 -21 -261 114 -96 303 -68 449 68 l57
53 37 -33 c98 -84 239 -72 343 30 l54 53 40 -38 c83 -79 204 -116 296 -90 56
16 120 70 135 115 13 40 10 38 45 25 15 -6 57 -11 94 -11 81 -1 141 25 171 74
37 60 23 112 -49 181 l-40 40 44 47 c88 94 154 219 196 369 20 73 24 107 24
245 0 143 -3 170 -27 257 -48 172 -140 330 -257 442 -60 56 -63 58 -81 41 -11
-10 -20 -23 -20 -29 0 -7 23 -34 51 -61 243 -238 333 -643 213 -962 -36 -97
-118 -228 -173 -277 -23 -21 -22 -23 -78 119 l-19 49 48 70 c63 91 89 175 90
286 0 124 -46 248 -158 420 l-46 72 12 59 c40 187 -105 339 -274 289z m131
-97 c12 -8 32 -35 44 -59 24 -50 21 -109 -7 -152 -14 -21 -13 -25 10 -52 13
-16 48 -71 77 -121 l52 -92 -27 -24 c-33 -28 -27 -41 24 -49 34 -6 40 -11 54
-48 24 -63 22 -66 -36 -66 l-53 -1 54 -47 c51 -46 54 -50 53 -96 -3 -149 -159
-312 -369 -388 -85 -30 -283 -37 -388 -13 -91 20 -161 48 -167 67 -7 19 29
142 58 200 14 27 23 53 20 56 -10 9 -74 -25 -156 -83 l-76 -53 -24 42 c-14 22
-25 44 -25 47 0 3 27 28 61 55 98 79 127 105 123 109 -2 2 -33 -2 -69 -10 -36
-7 -90 -16 -121 -19 l-56 -7 -7 33 c-4 18 -9 65 -13 104 l-6 70 -72 0 c-59 -1
-79 3 -101 20 -87 64 -105 180 -41 265 25 35 92 69 134 69 41 0 110 -25 148
-54 l32 -25 16 38 c10 21 26 46 37 56 18 17 21 16 82 -18 81 -45 133 -87 182
-145 l39 -47 -7 45 c-10 68 -62 165 -118 220 l-51 50 36 15 c20 8 40 15 45 15
20 0 136 -84 183 -132 27 -28 70 -82 95 -120 26 -38 50 -65 56 -62 19 12 2
174 -27 260 -15 43 -32 85 -38 93 -20 24 91 6 118 -19 29 -27 73 -118 88 -181
6 -27 14 -49 18 -49 10 0 29 100 29 156 0 30 5 54 10 54 6 0 28 -18 49 -40 42
-43 58 -40 40 7 -15 41 -46 70 -96 89 -49 19 -55 38 -15 52 31 11 67 6 99 -15z
m148 -1204 c22 -67 16 -176 -13 -241 -11 -27 -25 -48 -30 -48 -13 0 -31 44
-38 93 -7 41 -20 60 -36 51 -4 -3 -8 -15 -8 -26 0 -20 -1 -19 -25 6 -24 26
-45 34 -45 17 0 -5 9 -30 20 -56 11 -26 20 -49 20 -51 0 -2 -12 -4 -27 -4 -53
0 -103 -13 -103 -26 0 -22 51 -54 88 -54 71 0 93 -56 44 -111 -60 -68 -198
-40 -280 56 -20 25 -64 97 -97 161 -42 80 -68 120 -83 125 -22 8 -22 7 -16
-26 7 -40 9 -40 -46 -20 -55 19 -113 19 -156 -1 -43 -20 -104 -88 -104 -115 0
-11 -4 -17 -10 -14 -15 10 -12 78 5 102 14 20 35 28 178 69 26 8 13 20 -38 34
-46 13 -61 30 -25 30 11 0 64 -10 118 -22 132 -31 312 -30 427 1 89 24 187 67
225 99 14 12 28 21 32 22 3 0 14 -23 23 -51z m190 -277 c12 -40 -28 -72 -89
-72 -73 0 -84 10 -57 49 12 16 27 53 34 80 l11 50 47 -42 c26 -23 51 -52 54
-65z m-870 62 c41 -19 84 -79 92 -128 6 -41 -5 -46 -32 -16 -30 33 -38 24 -31
-31 7 -49 -3 -79 -25 -79 -5 0 -20 18 -34 40 -35 55 -47 51 -44 -12 2 -29 0
-52 -4 -50 -4 1 -19 2 -33 2 -16 0 -39 13 -60 34 -29 29 -34 41 -34 82 0 127
103 207 205 158z m-328 -158 c22 -43 23 -39 -34 -89 -21 -18 -22 -18 -63 34
l-42 53 54 47 53 47 6 -27 c3 -14 15 -44 26 -65z m-163 -112 c21 -25 37 -46
35 -48 -18 -16 -79 -38 -119 -43 l-48 -6 -11 39 c-6 22 -11 60 -11 86 l0 47
43 3 c32 3 46 -1 57 -15 8 -11 33 -39 54 -63z"
            ></path>
            <path
              d="M822 1535 c-58 -26 -76 -109 -33 -159 21 -24 59 -38 82 -31 27 9 24
29 -6 45 -22 12 -25 20 -23 49 3 32 6 36 34 39 19 2 36 -3 44 -12 17 -22 40
-20 40 3 0 29 -40 69 -75 75 -17 3 -45 -1 -63 -9z"
            ></path>
            <path
              d="M1873 1318 c-31 -34 -37 -65 -19 -93 22 -33 36 -31 36 4 0 29 22 61
41 61 11 0 45 -33 51 -51 7 -21 38 -2 38 24 0 14 -9 36 -21 51 -28 35 -95 37
-126 4z"
            ></path>
            <path
              d="M1398 1175 c-35 -20 -48 -44 -48 -93 0 -27 5 -42 16 -46 27 -10 31
-7 38 33 10 67 53 78 95 25 24 -30 41 -24 41 15 0 58 -86 98 -142 66z"
            ></path>
            <path
              d="M1755 1133 c-61 -15 -116 -47 -122 -71 -8 -33 35 -72 78 -72 27 0 30
-3 24 -22 -15 -52 -100 -100 -120 -68 -8 13 -45 13 -45 1 0 -17 52 -51 77 -51
40 0 90 26 108 57 17 29 18 30 56 17 58 -21 129 13 129 61 0 35 -12 37 -31 5
-23 -37 -68 -41 -100 -9 l-21 21 31 32 c35 36 39 65 13 89 -18 17 -38 19 -77
10z"
            ></path>
            <path
              d="M252 1634 c-27 -19 -46 -77 -38 -120 l7 -34 -37 25 c-53 36 -142 31
-157 -9 -9 -24 48 -84 91 -96 71 -19 99 -13 142 30 47 47 60 75 60 131 0 69
-30 100 -68 73z m15 -106 c-2 -13 -4 -5 -4 17 -1 22 1 32 4 23 2 -10 2 -28 0
-40z m-106 -68 c21 -17 22 -19 6 -20 -18 0 -77 27 -77 35 0 13 51 3 71 -15z"
            ></path>
            <path
              d="M164 1331 c-35 -15 -65 -62 -62 -95 3 -27 7 -31 35 -34 42 -4 67 10
104 60 24 34 27 44 17 55 -18 17 -68 25 -94 14z m21 -61 c-10 -11 -23 -20 -28
-20 -6 0 -2 9 8 20 10 11 23 20 28 20 6 0 2 -9 -8 -20z"
            ></path>
          </g>
        </svg>
        <a class="ml-2 lg:ml-9">
          <h1 class="font-bold text-xl tittle md:text-2xl">Parceritos Baby</h1>
        </a>
      </div>
      <div class="block lg:hidden ml-1">
        <button
          id="nav-toggle"
          class="flex items-center px-6 py-4 border rounded text-gray-500 border-gray-600 hover:text-black hover:border-black"
        >
          <svg
            class="fill-current h-4 w-4"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><title>Menu</title><path
              d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg
          >
        </button>
      </div>
    </div>

    <div
      class="w-full flex-col lg:flex lg:items-center lg:w-auto hidden lg:block pt-6 lg:pt-0 bg-white"
      id="nav-content"
    >
      <ul
        class="list-reset lg:flex justify-center flex-1 items-center space-x-10 w-full"
      >
        <li></li>
        <li><a class="letter-better" href="#">Inicio</a></li>
        <li><a class="letter-better" href="#">Productos</a></li>
        <li><a class="letter-better" href="#">Contactanos</a></li>
        <div class="mb-2">
          <div class="search">
            <input
              type="text"
              class="search__input"
              placeholder="¿Que estas buscando?"
            />
            <button class="search__button">
              <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
                <g>
                  <path
                    d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
                  ></path>
                </g>
              </svg>
            </button>
          </div>
        </div>
        <li class="relativa"></li>
        <li><div class=""></div></li>
      </ul>
    </div>
  </nav>

  <div class="container shadow-lg mx-auto bg-white mt-24 md:mt-18"></div>
</div>

<style>
  .tittle {
    font-family: "Skyland";
    font-size: 2.5em;
    color: #e56399;
    -webkit-text-stroke: 0.5px black;
    letter-spacing: 1.5px;
  }

  .imagen-svg {
    background-image: url("..\public\images\logo.svg");
    width: 200px;
    height: 200px;
  }

  .letter-better {
    font-family: "Poppins";
  }

  .input-container {
    position: relative;
  }
  .input-container input {
    border: 1.5px solid black;
    border-radius: 10px;
  }

  .input-container svg {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #ccc;
    font-size: 16px;
  }

  .input-container input {
    padding-right: 30px;
  }

  .div-flex {
    display: flex;
  }

  @media (max-width: 767px) {
    #mobile-menu {
      display: none;
    }
    .md:hidden {
      display: block;
    }
  }

  @media (min-width: 768px) {
    .sm\:hidden {
      display: none;
    }
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 13.5em;
    transition: all ease-in-out 0.5s;
    margin-right: -2rem;
  }

  .search__input:hover,
  .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }

  .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  }

  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }

  .search__input:focus + .search__button {
    background-color: #f0eeee;
  }

  .search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: 0.1em;
  }

  .search__button:hover {
    cursor: pointer;
  }

  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }
</style>

<script>
  const navToggle: HTMLButtonElement | null = document.getElementById(
    "nav-toggle"
  ) as HTMLButtonElement | null;
  const navContent: HTMLElement | null = document.getElementById(
    "nav-content"
  ) as HTMLElement | null;

  if (navToggle) {
    navToggle.addEventListener("click", () => {
      navContent?.classList.toggle("hidden") ??
        console.warn("nav-content element not found");
    });
  } else {
    console.warn("nav-toggle element not found");
  }
</script>
