---
import { Image } from 'astro:assets';
export interface Props{

}
const {} = Astro.props;

---
<div class="promo flex items-center justify-center  h-8 ">
     
    <p class="text-white texto-animado whitespace-nowrap">📢¡Suscríbete y recibe todo lo relacionado para el cuidado de tu bebé!📢</p>
</div>

<style>
    .icon{
        fill: white;
    }

    .promo{
        background-color: #005D7E;
    }
    @keyframes scroll-derecha-izquierda {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    @media (max-width: 768px) {
        .texto-animado {
            animation: scroll-derecha-izquierda 10s linear infinite;
        }
    }
</style>

