---
interface Props {
	title: string;
}
import '@fontsource/poppins';

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family:'Poppins', system-ui, sans-serif;
		background: #FFFFFF;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	@font-face{
		font-family: 'Skyland';
		src: url('public\fonts\Skyland.otf') format('otf');
		font-weight: normal;
  		font-style: normal;
  		font-display: swap;
	}
	/*@font-face {
		font-family: 'Poppins';
		src: url('public/fonts/Poppins-Regular.otf') format('otf'),
			url('public/fonts/Poppins-Regular.otf') format('otf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Poppins';
		src: url('public/fonts/Poppins-Bold.otf') format('otf'),
			url('public/fonts/Poppins-Bold.otf') format('otf');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	} */
</style>
